<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The Omar Hayes Quintet is a semi-professional ensemble playing straight-ahead jazz, blues & latin.">

	<title>{{ title }}</title>

	{% include 'partials/schema.njk' %}

	<link rel="manifest" href="/site.webmanifest">
	<link rel="icon" href="/favicon.ico" sizes="32x32">
	<link rel="icon" href="/assets/favicons/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png">

	<link rel="preconnect" href="https://res.cloudinary.com" crossorigin>
	<base href="/">
	<link rel="stylesheet" href="{{ '/assets/styles/style.css' | url }}" />
	<script src="{{ '/assets/scripts/bundle.js' | url }}" type="module"></script>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-J0XMV07RMG"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-J0XMV07RMG');
	</script>

</head>

<body class="{{ pageClass }}">

{{ content | safe }}

</body>
</html>
