@use 'variables' as *;
@use 'mixins' as *;

// Lenis styles
// ----------------------------------
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  background-color: $clr-primary-500;
}

// Hero
// -------------------------------------
.hero {
  position: relative;
  height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
  overflow: hidden;
  background-color: $clr-primary-500;

  > * { grid-area: stack; }

  .overlay {
    position: absolute;
    inset: 0;
    background: $clr-black;
    pointer-events: none;
  }

  .bg {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .5;
  }

  .logo {
    visibility: hidden;
    transform: translateY(-15vh);
    width: min(80%, 600px);
    z-index: 1;
    opacity: .5;
  }

  span {
    font-size: 2.4rem;
    color: white;
    transform: translateY(-17.5vh);
  }

}

.social {
  position: absolute;
  z-index: 100;
  top: 2rem;
  right: 2rem;
  a {
    text-decoration: none;
  }
  a svg {
    transition: all .3s ease-out;
    fill: white;
    width: 48px;
    height: 48px;
    opacity: .75;

    &:hover {
      scale: 1.1;
      opacity: 1;
    }
  }
}

.header-section {
  position: relative;
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
  //padding: 2rem;
  min-height: 62dvh;
  > * { grid-area: stack; }
  @media (width > 800px) {
    min-height: 90dvh;
  }
  img {
    position: absolute;
    inset: auto auto 0;
    z-index: 1;
    max-width: 100%;
    max-height: 62vh;
    opacity: 1;
  }
  .boilerplate {
    position: absolute;
    inset: 38vh auto auto;
    z-index: 5;
    display: grid;
    margin-top: -25vh;
    grid-template-columns: 1fr;
    h1 {
      font-size: clamp(1.75rem, 5vw + .5rem, 5rem);
      color: $clr-black;
      line-height: 1.05;
      margin: 0;
      padding: 0;
    }
    span {
      color: white;
      text-align: right;
      font-size: clamp(1rem, 1vw + .5rem, 2rem);
      a {
        cursor: pointer;
        color: white;
        text-decoration: none;
        transition: color .3s ease-out;
        &:hover { color: $clr-black; }
      }
      &.left { text-align: left; }
    }
  }
}




.content-section {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  padding: 3rem;
  gap: 2rem;

  .line-up {
    font-size: clamp(1rem, 2vw, #{$fs-default});
    li {
      list-style: none;
    }
  }

  @media (width > 800px) {

      display: grid;
      grid-template-columns: 66% 33%;
      align-items: start;
      padding-inline: 10%;
  }
}

footer {
  position: relative;
  display: grid;
  color: $clr-primary-500;
  background-image: linear-gradient($clr-black,black);
  padding: 3rem;
  z-index: 10;
  font-size: 1rem;
  .copy {
    text-align: right;
  }
}

// Gallery
// -------------------------------------
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: .25rem;
  margin-bottom: 2rem;

  li {
    overflow: hidden;
    background-color: $clr-grey-900;

    a {
      display: block;
      opacity: .8;
      scale: 1;
      transition: all .3s ease-out;

      &:hover {
        scale: 1.25;
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1;
      }
    }
  }
}

// Utils
// -------------------------------------
.accent {
  color: $clr-accent-500 !important;
  opacity: .75;
}
.primary {
  color: $clr-primary-500 !important;
}
.white {
  color: white !important;
  opacity: .5;
}
.black {
  color: $clr-black !important;
}





