<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "MusicGroup",
        "name" : "Omar Hayes Quintet",
        "url" : "https://omarhayesjazz.com/",
        "image" : "https://omarhayesjazz.com/assets/images/omq-group1-col2.jpg",
        "sameAs" : []
    }
</script>
