<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "MusicGroup",
        "name" : "Omar Hayes Quintet",
        "url" : "https://omarhayesjazz.com/",
        "image" : "https://upload.wikimedia.org/wikipedia/commons/c/c4/Deichbrand2018-Wolfmother-39.jpg",
        "sameAs" : []
    }
</script>
