<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "MusicGroup",
        "name" : "Omar Hayes Quintet",
        "url" : "https://omarhayesjazz.com/",
        "image" : "https://res.cloudinary.com/rdl/image/upload/c_scale,w_600/v1722944838/ohq/omq-group1.jpg",
        "sameAs" : []
    }
</script>
